* {
    margin: 0;
}
html {
    font-size: 10px;
    background: #fff;
}

body {
    font-size: 1.6rem;
    font-family:'Roboto-Regular', Arial, Helvetica, sans-serif;
    transition-property: background-color;
    transition-duration: 0.8s;
}


.disabled{
    display: none;
}