.game-over {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.377);
    z-index: 999;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}