.wrapper{
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.header__wrapper{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}